@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.head1 {
    position: absolute;
    width: 395.83px;
    height: 37.53px;
    left: 63.58px;
    top: 52.54px;
    background: #000000;
    text-align: center;
    font-family: 'Cormorant SC';
    font-size: 40px;
}

.head2 {
    position: absolute;
    width: 66px;
    height: 34px;
    left: 936px;
    top: 59px;
    buttom: 45px;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.head3 {
    position: absolute;
    width: 84px;
    height: 34px;
    left: 1033px;
    top: 59px;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.head4 {
    position: absolute;
    width: 71px;
    height: 34px;
    left: 1151px;
    top: 59px;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.head5 {
    position: absolute;
    width: 121px;
    height: 34px;
    left: 1258px;
    top: 59px;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.Header-line {
    position: absolute;
    width: 1440px;
    height: 133px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

/* Styling the blog section*/
section {
    width: 75%;
    margin: 0 auto;
    place-content: center;
}

/* Styling the blog div */
.container {
    display: grid;
    place-items: center;
}

/* h3 styling */
.blog {
    display: grid;
    font-family: monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: black;
    width: 593px;
    height: 63px;
}

/* h1 styling */
.blog-heading {
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    margin-top: 44px;
    margin-bottom: 32px;
}

/* h1 Styling */
.Heading {
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: black;
}

/* All h3 Styling */
.blog-body {
    width: 262px;
    height: 78px;
    font-family: 'poppins';
    color: black;
}

/* Styling the hr tag */
.line {
    position: center;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 1000px;
    border: 2px solid #000000;
}

.blog-foot {
   
}

.end {
    
}

.foot1 {
    position: absolute;
    width: 319px;
    height: 28px;
    left: -6px;
    top: 3334px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
